<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body {
        padding: 0;
        margin: 0;
    }

    .parent {
        width: 100vw;
        height: 100vh;
    }

    .parent #image {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    </style>
</head>
<body>
    <div class="parent">
        <img id="image" src="/static/public/Frames.png" alt="Image">
        <!-- <img src="/static/public/Frame.png" alt="Image"> -->
    </div>
</body>
</html>